.online {
	color : #337AB7;
}

.offline {
	color : grey;
}

.navbar-brand {
	padding : 0px;
}

.container {
	width : 100%;
}

.navbar-brand > img {
	height : inherit;
	width : inherit;
}

.navbar-nav {
	padding-left : 5em;
}

.contribution {
	background-color : #165c64;
}

#user_list li {
	cursor: pointer; 
	cursor: hand;
}

#select_user {
	cursor : default;
}
.close-badge {
	margin-top : 0px;
	background-color : rgba(0,0,0,0);
	cursor: pointer; 
	cursor: hand;
}

#select_user {
	padding-bottom : 30px;
}

#chartdiv {
	background: rgba(0,0,0,0);
	color:#ffffff;		
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

.modal-content {
	background-color: #222;
	border-color: #080808;
	color : white;
}		

.graph-footer {
    position: fixed; 
    background-color: rgba(34,34,34,0.85) ;
    border-color: #080808;
	color : white;
    bottom: 0;
    left: 0;
    right: 0;
    height: 190px;
}